body {
    max-width: 2000px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 30px;
}

.header-img {
    height: 50%;
    display: block;

}

.header-nav-list {
    display: flex;
    font-size: 15px;
}

.header-nav-color {
    color: gray;
}

.header-nav-item:not(:last-of-type) {
    margin-right: 15px;
}

.main {
    position: relative;
}

.main-img {
    width: 60vw;
    margin-left: auto;
    display: block;
}

.main-content {
    position: absolute;
    top: 20%;
    left: 25%;
    color: maroon;
}

.main-title {
    font-size: 50px;
    padding-bottom: 30px;
    font-family: 'Waiting for the Sunrise', cursive;;
    line-height: 50px;
}

span.main-title {
    color: teal;
}

.main-text {
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 5px;
}

span.main-text {
    color: teal;
}

.main-subtext {
    font-size: 10px;
    color: gray;
    line-height: 15px;
}

